
.hero-slide {
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
  
  .hero-slide__item {
    padding: 3rem 0;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
  }  